---
- name: Installer paquets sécurité de base
  apt:
    name:
      - ufw
      - fail2ban
      - auditd
    state: present
    update_cache: yes

- name: Activer UFW
  ufw:
    state: enabled

- name: Autoriser SSH
  ufw:
    rule: allow
    port: ssh
